*{
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.container{

    border: 1px solid black;
    height: 70vh;
    width: 60%;
    line-height: 2;
    border-radius: 15px;
    background-color: rgba(28, 28, 244, 0.27);
    box-shadow: 0 0 10px;
}
h3{
    text-align: center;
    margin: 12px;
    font-family: sans-serif;
    text-shadow: 0 0 5px;
    font-family: sans-serif;
    color: rgb(55, 111, 141);
}
.innercntr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
#colorpicker{
    width: 100px;
    height:3vh;
    border: none;

}
input{
    border: 1px solid black;
    width: 100px;
    height: 3vh;
}
.range{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
.Notepad{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    width: 20%;
    margin: 10px  auto;
    background-color: rgba(0, 0, 0, 0.514);
    font-family: sans-serif;

}
textarea{
    width: 90%;
    height: 30vh;
    margin: auto;
    margin-left: 31px;
    font-size: 20px;
    
}

@media(max-width:660px){
    textarea {
        width: 78%;
        
    }
}